/* Color-dark: #764abc */
/* Color-medium: #a07dd8 */
/* Color-light: #c3a0e5 */
/* Light-blue: #bbe5f9 */
/* Light-green: #d1ffd8 */

@font-face {
  font-family: 'Cheddar Jack';
  src: local('cheddar jack'), url(../shared/cheddar\ jack.ttf) format('ttf');
}

@font-face {
  font-family: 'Gisella Demo';
  src: local('gisella'), url(../shared/Gisella\ Demo.otf) format('otf');
}

em {
  position: relative;
  left: 0.1rem;
  bottom: 0.15rem;
  font-family:"gisella";
  font-size: 1.5rem;
  color: inherit;
  word-spacing: 0.1em;
  letter-spacing: 0.15em;
  margin: 0.2rem;
}

h1 {
  position: relative;
  left: 2rem;
  top: 0.1em;
  font-family:"cheddar jack";
  font-size: 60px;
  letter-spacing: 5px;
  color: #764abc;
}

h2 {
  position: relative;
  left: 3.5rem;
  top: 0.1rem;
  font-size: 0.2em;
  letter-spacing: 0.2em;
}

h3 {
  position: relative;
  left: 0.5rem;
  top: 0.1rem;
  font-size: 2em;
  letter-spacing: 0.2em;
}

hr {
  background-color: #764abc
}

iframe {
  width: 60rem;
  height: 35rem;
}

.text-dark {
  color: #764abc;
}

.banner {
  text-align: left;
}

.btn-primary {
  background-color: #764abc;
  border-color: #764abc;
}

.btn-primary:focus, .btn-primary:hover {
  background-color: #a07dd8;
  border-color: #a07dd8;
}

.btn-home {
  color: white;
  border-color: white;
  border-radius: 0px;
}

.logo-big {
  width: 11.7em;
  float: left;
  border-radius: 2.5em;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 100px; 
}

.block {
  display: block;
  max-width: 60em;
  align-items: center;
  justify-content: center;
  background-color: rgba(160, 125, 216, 0.1);
  border-radius: 5px; 
  margin-top: 2em;
  margin-bottom: 2em;
}

.navbar {
  display: inline-flex;
  justify-content: left;
  align-self: baseline;
  text-align: left;
}

.navbar a {
  color: #764abc;
  text-align: left;
  justify-self: start;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.navbar a.active {
  background-color: #bbe5f9;
  color: black;
}

.navbar a:hover:not(.active) {background-color: #d1ffd8;}

.site-footer {
  color: white;
  background-color: #a79060; 
  background-image: linear-gradient(#a79060, #5c3f3f, black);
}

.site-footer a {
  color: #c3a0e5;
  text-decoration: none;
}

#sideDeco {
  position: absolute;
  left: -0.8em;
  top: 9em;
  width: 60%;
  height: 30%;
  display: flex;
  float: left;
  align-self: flex-start;
}

.growth {
  flex: 1; /*grow*/
  animation: growing ease-in-out backwards;
  animation-duration: 1.5s;
}

@keyframes growing {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

#covid-19 {
  color: red;
}

#coronavirus {
  width: 20rem;
  padding: 3rem;
  margin: 9rem;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
