/* Color-dark: #764abc */
/* Color-medium: #a07dd8 */
/* Color-light: #c3a0e5 */
/* Color-lighter: #e5cbf8 */
/* Light-blue: #bbe5f9 */
/* Light-green: #d1ffd8 */
/* Dark-green: #60a060 */

@font-face {
  font-family: "Cheddar Jack";
  src: local("cheddar jack"), url(../shared/cheddar\ jack.ttf) format("ttf");
}

@font-face {
  font-family: "Gisella Demo";
  src: local("gisella"), url(../shared/Gisella\ Demo.ttf) format("otf");
}

a {
  color: #764abc;
}

a:hover {
  color: inherit;
}

h2 {
  position: relative;
  left: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.2rem;
  letter-spacing: 0.1rem;
}

h2 em {
  position: relative;
  left: 0.1rem;
  bottom: 0.15rem;
  font-family: "cheddar jack";
  font-size: 1.5rem;
  color: inherit;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  margin: 0.2rem;
}

h3 {
  font-family: "cheddar jack";
  color: #764abc;
  background-color: #e5cbf8;
  font-size: 3em;
  position: relative;
  top: 2rem;
  padding-left: 0.5em;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  letter-spacing: 0.2em;
}

hr {
  background-color: #764abc;
}

iframe {
  width: 60rem;
  height: 35rem;
}

.botanical {
  font-size: 14px;
  font-family: fantasy;
}

.btn-primary {
  background-color: #764abc;
  border-color: #764abc;
  margin-bottom: 20px;
}

.btn-primary:focus,
.btn-primary:hover {
  color: inherit;
  background-color: #a07dd8;
  border-color: #a07dd8;
}

.btn-home {
  color: white;
  border-color: white;
  border-radius: 0px;
}

.btn-light {
  background-color: #a07dd8;
  border-color: #a07dd8;
  margin-bottom: 20px;
}

.btn-text-bold {
  font-weight: bold;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.card {
  box-shadow: 10px 10px 5px #aaa;
  margin-bottom: 3em;
}

.card-in-basket {
  width: 20rem;
}

.card-header {
  display: block;
  font-size: 0.9rem;
}

.center {
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.main {
  display: float;
  max-width: 100 rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(160, 125, 216, 0.3);
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.logo-big {
  width: 150px;
  float: left;
  border-radius: 2.5em;
}

.navbar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40rem;
  font-weight: bold;
  margin-top: 2em;
  margin-left: 4em;
  padding-left: 1em;
  background-color: rgb(244, 233, 252, 0.5);
  box-shadow: 2px 2px 5px #ddd;
}

.navbar a {
  color: #764abc;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s;
  padding-block: 2rem 2rem;
}

.navbar a.active {
  background-color: #bbe5f9;
  color: black;
}

.navbar a:hover:not(.active) {
  background-color: #d1ffd8;
}

.no-underline:hover {
  text-decoration: none;
}

.right {
  float: right;
  text-align: right;
  vertical-align: middle;
}

.row-content {
  padding: 0.5rem 0;
  min-height: 70px;
}

.shopping {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.shopping th {
  color: white;
  background-color: #764abc;
}

.site-footer {
  color: white;
  background-color: #a79060;
  background-image: linear-gradient(#a79060, #5c3f3f, black);
}

.site-footer a {
  color: #c3a0e5;
  text-decoration: none;
}

.social {
  width: 60px;
  height: 60px;
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: -1;
  margin-left: 1em;
}

.text-dark {
  color: #764abc;
}

.video {
  display: float;
  max-width: 4.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

#sideDeco {
  position: absolute;
  left: -0.8em;
  top: 6.5em;
  width: 50%;
  height: 20%;
  display: flexbox;
  float: left;
  z-index: -1;
  align-self: flex-start;
}

/* Animation */
.growth {
  position: relative;
  flex: 200; /*grow*/
  animation: growing ease-in-out;
  animation-duration: 1000ms;
}

@keyframes growing {
  0% {
    width: 0;
    height: -50;
  }
  100% {
    width: 30;
    height: -10;
  }
}
/* End of Animation */

#covid-19 {
  color: red;
}

#coronavirus {
  width: 40rem;
  margin-bottom: 2rem;
}

#subtitle {
  text-align: left;
  margin-left: 3rem;
}

#title {
  position: relative;
  margin-left: 1em;
  font-family: "gisella";
  font-size: 5em;
  letter-spacing: 5px;
  margin-bottom: 0.3em;
  color: #764abc;
}
